@import './utils/variables';
@import './utils/placeholders';
@import './utils/utilities';
@import './utils/pseudoelements';

// Base
html {
    box-sizing: border-box;
}
    

    *,
    * ::before,
    * ::after {
        box-sizing: inherit;
    }
body {
    color: $primary-text-color;
    background-color: $secondary-bcg-color;
    font-family: 'Roboto';
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.action-text {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: $secondary-bcg-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

// Buttons
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    color: $secondary-bcg-color;
    background-color: $hover-color;
    border: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

  &:hover,
  &:focus {
            background-color: #188CE8;
            border: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}



.filter__button {
    display: inline-block;
    color: $secondary-text-color;
    background-color: $primary-bcg-color;
    border: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    margin-top: 0;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

    &:first-child {
            display: inline-block;
            padding: 6px 25px;
        }
    
    &:hover,
    &:focus {
            color: $secondary-bcg-color;
            background-color: $hover-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}


// Header
.header {
    margin-top: 0;
    border-bottom: 1px solid #ECECEC;
}
.header__container {
    display: flex;
    margin-top: 0;
    height: 80px;
    align-items: center;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    margin-top: 0;
    align-items: center;
    flex-grow: 1;
    gap: 93px;
}

// Logo
.logo {
    flex-shrink: 0;
    color: $hover-color;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo__part {
    color: black;
}

// Navigation
.navigation {
    display: flex;
    @extend %list;
}
.navigation__item {
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
            margin-right: 50px;
        }

}
.navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms $time-distribution-function;

  &:hover,
  &:focus {
            color: $hover-color;
        }                   
}

// Contacts
.contacts {
    display: flex;
    align-items: center;
    gap: 50px;
    @extend %list
}

.contacts__item {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
   font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.02em;
text-decoration: none;
    transition: color 250ms $time-distribution-function;

    &:hover,
    &:focus {
            color: $hover-color;
        }

}



.contacts__item:hover .smartphone {
    fill: $hover-color;
}

.contacts__item:focus .smartphone {
    fill: $hover-color;
}


.envelope {
    margin-right: 10px;
    fill: $primary-text-color;

    transition: fill 250ms $time-distribution-function;
    .contacts:hover & {
            fill: $hover-color;
        }
    
        .contacts:focus & {
            fill: $hover-color;
        }
}



.smartphone {
    margin-right: 10px;
    fill: $primary-text-color;
    transition: fill 250ms $time-distribution-function;

}

// Hero
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.hero__container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 0px;
    max-width: 696px;

    color: $secondary-bcg-color ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

}

.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $secondary-bcg-color;

    &__title {
        @extend %visually-hidden
    }
}
.advantage-list {
    display: flex;
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    @extend %list
}
.advantage-list__item {
    width: 270px;
    margin-left: 0;
    margin-right: auto;
    margin-right: 30px;
    
    &:last-child {
            margin-right: 0;
        }
}
.advantage-list__card {
    background-color: $primary-bcg-color;
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.advantage__title{
    @extend %visually-hidden
}
.advantage-list__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    text-transform: uppercase;

   
}

.advantage-list__text {
    margin-top: 0;
    margin-bottom: 0;
}

// Activity

.activity {
    padding-bottom: 94px;
    background-color: $secondary-bcg-color;
}

.activity-list {
    display: flex;
    justify-content: space-between;
}

.activity-list__item {
    width: 370px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 30px;

    &:last-child {
            margin-right: 0;
}
}
.activity-list__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.activity-list__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;

    align-items: center;
    justify-content: center;
}

.activity-list__thumb {
    position: relative;
    left: 0;
}



// Team
.team {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color:$primary-bcg-color;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list__card {
    width: 270px;
    background-color:$secondary-bcg-color;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
            margin-right: 30px;
        }
    @extend %list
}
.team-list__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-list__info {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-list__title {
    margin-top: 0px;
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $secondary-text-color;
}
.team-list__text {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
        @extend %list
}
.team-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: $secondary-bcg-color;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

&:hover,
&:focus {
        background-color: $hover-color;
    }
}


.team-socials__icon {
    fill: $icons-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

    .team-socials__link:hover & {
            fill: $secondary-bcg-color;
        }
        .team-socials__link:focus & {
            fill: $secondary-bcg-color;
        }
}

// Socials
.socials {
    display: flex;
    justify-content: center;
    gap: 10px;

    @extend %list
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms $time-distribution-function;
    &:hover,
    &:focus {
            background-color: $hover-color;
        }
}

.socials__icon {
    fill: $secondary-bcg-color;
}

// Clients
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-container {
    margin-left: auto;
    margin-right: auto;
}

.clients-list {
    display: flex;
    gap: 30px;
        @extend %list
}

.clients-list__item {
    width: calc((100% - 150px)/6);

}

.clients-list__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid $icons-color;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: $icons-color;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

    &:hover,
    &:focus {
            border: 1px solid $hover-color;
        }
}

.clients-list__icon {
    fill: #AFB1B8;
    transition: fill 5050ms $time-distribution-function;

    .clients-list__link:hover & {
            fill: $hover-color;
        }
    
        .clients-list__link:focus & {
            fill: $hover-color;
        }
}

// Footer
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer__navigation {
    margin-right: 70px;
        @extend %list
}

.footer__logo {
    margin-top: 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer__logo-part {
    color: $secondary-bcg-color;
    margin-bottom: 20px;
}

.footer__list {

    margin-top: 20px;
      

  @extend %list
}

.footer__nav {
    margin-top: 0;

   &:not(:last-child) {
            margin-bottom: 9px;
            white-space: nowrap;
        }
}

.footer__map {
    color: $secondary-bcg-color;
    text-decoration: none;
    font-style: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

   &:hover,
   &:focus {
            color: $hover-color;
    
        }
}

.footer-socials__action-text{
    margin-bottom: 20px;
}

.footer-form {
    padding-left: 93px;
}

.form-container {
    display: flex;
    gap: 12px;
}

.form-container__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    width: 358px;

    & ::placeholder {
            color: var(--placeholder-color);
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
}



.form-container__input:not(:placeholder-shown) {
    color: var(--secondary-bcg-color);
}

.form-container__button .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px 28px;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--secondary-bcg-color);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms $time-distribution-function, visibility 250ms $time-distribution-function, background-color 250ms $time-distribution-function;
}

.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    background-color: $secondary-bcg-color;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}
.modal__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}




.modal__button {
    right: 0;
    position: absolute;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 9px 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $secondary-bcg-color;
    cursor: pointer;

}

.modal__button:hover>.cross {
    fill: $hover-color;
    outline: none;
}

.cross {
    transform: translate(-50%, -50%);
    position: absolute;
    fill: #000000;
    transition: fill 250ms $time-distribution-function;
}

//  Form

.contact-form__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

.contact-form__label:not(:first-child) {
    margin-top: 10px;
}

.contact-form__element {
    position: relative;

}

.contact-form__element:last-child {
    margin-bottom: 20px;
}

.contact-form__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 11px 12px 11px 32px;
}

.contact-form__input::placeholder {
    color: $placeholder-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $placeholder-color;
}

.contact-form__input:focus {
    border-color: $hover-color;
}

.contact-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: $secondary-text-color;
}

.contact-form__element:focus-within .contact-form__icon {
    fill: $hover-color;
}

.contact-form__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
}
.form-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-form__button {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    color: $secondary-bcg-color;
    background-color: $hover-color;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;
    margin: 0 auto;
    margin-top: 30px;
}


// Checkbox
.checkbox {
    display: block;
    position: relative;
    white-space: nowrap;

}

.checkbox__label {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.checkbox__input {
    appearance: none;

}

.checkbox__input:checked+.checkbox__icon {
    background-color: $hover-color;
    border-color: transparent;
    background-image: url('../images/check.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.checkbox__icon {
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
    border: 2px solid $secondary-text-color;
    width: 16px;
    height: 15px;
    background-color: transparent;
    transition: background-color 250ms $time-distribution-function;
}

.checkbox__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $hover-color;
    /* margin-left: 5px; */
}

.checkbox-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid $secondary-text-color;
    border-radius: 4px;
}

// Portfolio
.portfolio-content{
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter{
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    @extend %list
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-content__title{
@extend %visually-hidden
}


.cardset{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    @extend %list
}
.cardset__element {
    flex-basis: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms $time-distribution-function;

    &:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }
    
    &:nth-child(3n) {
        margin-right: 0;
    }
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.cardset__thumb{
    position: relative;
    overflow: hidden;
}
.cardset__description{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.cardset__title{
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    background-color: $secondary-bcg-color;
    color: $secondary-text-color;
    letter-spacing: 0.06em;
}

.cardset__image{

    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 0;
}

.cardset__text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.cadrset-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: $secondary-bcg-color;
    padding: 63px 24px;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 250ms $time-distribution-function;


.cardset__element:hover &{
    transform: translateY(0);
    pointer-events: none;
}
}


.cadrset-hover__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}


