.advantage {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-bcg-color;

    &__title {
        @extend %visually-hidden
    }
}
.advantage-list {
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
// margin-left: 15px;
// margin-right: 15px;
// padding-right: 0px;
// padding-left: 0px;

@media screen and (min-width: $breakpoint-tablet){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width: $breakpoint-desktop){
    flex-wrap: nowrap;
        padding-top: 94px;
    padding-bottom: 94px;
}
    @extend %list
}


.advantage-list__item {
    width: calc((100% - 0px) / 1);
    margin-bottom: 30px;

    &:last-child {
            margin-right: 0;
            margin-bottom: 0px;

}
}
@media screen and (min-width: $breakpoint-tablet) {
    .advantage-list__item{
        width: calc((100% - 60px) / 2);
        margin-right: 30px;
       
    }

}

@media screen and (min-width: $breakpoint-tablet) and (max-width: 1199px){
    .advantage-list__item:nth-child(2n){
        margin-right: 0px;
    }
}
@media screen and (min-width: $breakpoint-desktop) {
    .advantage-list__item{
        width: calc((100% - 90px) / 4);
        margin-bottom: 0px;
    }
   
}
// // @media screen and (max-width: $breakpoint-tablet){
// //     .advantage-list__item :not(:last-child){
// //         margin-bottom: 20px;
// //     }
// }

.advantage-list__card {
    background-color: $primary-bcg-color;
    display: flex;
    // width: 450px;
    width: auto;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint-tablet) {
        max-width: 354px; 
        width: auto;

    }
    @media screen and (min-width: $breakpoint-desktop) {
        width: 270px; 
    }
}
.advantage__title{

    @extend %visually-hidden  
}
.advantage-list__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: $breakpoint-tablet){
        text-align: left;
    }
   
}

.advantage-list__text {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}
