.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $secondary-bcg-color;

    &__title {
        @extend %visually-hidden
    }
}
.advantage-list {
    display: flex;
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
     
    @extend %list
}


.advantage-list__item {
    width: 270px;
    margin-left: 0;
    margin-right: auto;
    margin-right: 30px;
    
    &:last-child {
            margin-right: 0;
        }
}
.advantage-list__card {
    background-color: $primary-bcg-color;
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.advantage__title{
    @extend %visually-hidden
}
.advantage-list__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    text-transform: uppercase;

   
}

.advantage-list__text {
    margin-top: 0;
    margin-bottom: 0;
}
