.clients {

    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: $breakpoint-desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients-container {
    margin-left: auto;
    margin-right: auto;
}

.clients-list {
display: flex;
flex-wrap: wrap;
gap: 30px;

@media screen and (max-width: 767px) {
  :nth-child(2n){
    gap: 0;
  }  
}
@media screen and (max-width: 1199px) {
    :nth-child(3n){
      gap: 0;
    }  
  }
        @media screen and (min-width: $breakpoint-desktop) {
            flex-wrap: nowrap;
        }
        @extend %list
}

.clients-list__item {
       width: calc((100% - 30px)/2);
        height: 92px;
        // margin-right: 0;

        @media screen and (min-width: $breakpoint-tablet) {
            width: calc((100% - 60px)/3);
        }
        @media screen and (min-width: $breakpoint-desktop){
            width: calc((100% - 150px)/6);
        }
}

.clients-list__link {
    display: flex;
    // width: 170px;
    height: 92px;
    border: 1px solid $icons-color;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
      
    fill: $icons-color;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;
//    margin: 0;

    &:hover,
    &:focus {
            border: 1px solid $hover-color;
        }
}

.clients-list__icon {
    fill: #AFB1B8;
    transition: fill 5050ms $time-distribution-function;

    .clients-list__link:hover & {
            fill: $hover-color;
        }
    
        .clients-list__link:focus & {
            fill: $hover-color;
        }
}