.contact-form__label {
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

.contact-form__element {
    position: relative;

}

.contact-form__element:last-child {
    margin-bottom: 20px;
}

.contact-form__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 11px 12px 11px 32px;
}

.contact-form__input::placeholder {
    color: $placeholder-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $placeholder-color;
}

.contact-form__input:focus {
    border-color: $hover-color;
}

.contact-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: $secondary-text-color;
}

.contact-form__element:focus-within .contact-form__icon {
    fill: $hover-color;
}

.contact-form__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    // margin-bottom: 20px;
    resize: none;
}

.form-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-form__button {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    color: $secondary-bcg-color;
    background-color: $hover-color;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;
    margin: 0 auto;
    margin-top: 30px;
}