.contacts {
display: block;
   padding: 0;
//    margin: 0;
// @media screen and (max-width: 767px) {
//      visibility: hidden;
//      opacity: 0;
// }
    @media screen and (min-width: $breakpoint-desktop){
        display: flex;
        align-items: center;
        // gap: 50px;
    }
    
        @extend %list
}



.contacts__item {
    color:  $primary-text-color;
    font-weight: 500;
    font-size: 14px;
   font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.02em;
text-decoration: none;
    transition: color 250ms $time-distribution-function;

    @media screen and (max-width: 767px){
        display: block;
        font-size: 34px;
        line-height: 1.16;
        justify-content: left;
        margin-bottom: 30px;
        // color: $hover-color;
    }


    @media screen and (min-width:$breakpoint-tablet) and (max-width: 1199px){
        display: flex;
        justify-content: flex-start;
        align-items: center;
     margin-bottom: 10px;
     font-size: 12px;
    }

    &:hover,
    &:focus {
            color: $hover-color;
        }
        @media screen and (min-width: $breakpoint-desktop) {
            display: flex;
        }

}
@media screen and (min-width: $breakpoint-desktop){
    .contacts__item:first-child{
margin-right: 30px;
    }

}

@media screen and (min-width: $breakpoint-desktop){
    .contacts__item :last-child{
margin-right: 30px;
    }

}
@media screen and (max-width: 767px){
    .header__nav> .contacts{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .contacts__item.current{
        color: $hover-color;
    }
}


.contacts__item:hover .smartphone {
    fill: $hover-color;
}

.contacts__item:focus .smartphone {
    fill: $hover-color;
}



.envelope {
    margin-right: 10px;
    fill: $primary-text-color;
fill: currentColor;
margin-right: 8px;

    transition: fill 250ms $time-distribution-function;
    .contacts:hover & {
            fill: $hover-color;
        }
    
        .contacts:focus & {
            fill: $hover-color;
        }
        @media screen and (max-width: 767px){
           display: none;
        }
}



.smartphone {
    margin-right: 10px;
    fill: $primary-text-color;
    transition: fill 250ms $time-distribution-function;
    @media screen and (max-width: 767px){
        display: none;
     }
}
