.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer__navigation {
    margin-right: 70px;
        @extend %list
}

.footer__logo {
    margin-top: 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer__logo-part {
    color: $secondary-bcg-color;
    margin-bottom: 20px;
}

.footer__list {

    margin-top: 20px;
      

  @extend %list
}

.footer__nav {
    margin-top: 0;

   &:not(:last-child) {
            margin-bottom: 9px;
            white-space: nowrap;
        }
}

.footer__map {
    color: $secondary-bcg-color;
    text-decoration: none;
    font-style: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

   &:hover,
   &:focus {
            color: $hover-color;
    
        }
}

.footer-socials__action-text{
    margin-bottom: 20px;
}

.footer-form {
    padding-left: 93px;
}

.form-container {
    display: flex;
    gap: 12px;
}

.form-container__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    width: 358px;

    & ::placeholder {
            color: var(--placeholder-color);
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
}



.form-container__input:not(:placeholder-shown) {
    color: var(--secondary-bcg-color);
}

.form-container__button .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px 28px;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--secondary-bcg-color);
}