.header {
    margin-top: 0;
    position: relative;
    border-bottom: 1px solid #ECECEC;
    background-color: $secondary-bcg-color;

    // @media screen and (min-width: $breakpoint-tablet){
    //     background-color: aqua;
    // }
}


.header__container {
    
    display: flex;
    margin-top: 0;
    height: 80px;
    align-items: center;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 25px;
    // justify-content: space-between;
position: relative;
@media screen and(max-width: $breakpoint-mobile){
    height: 60px;

}
}

.header__nav {
    display: flex;

    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;



    @media screen and (min-width:$breakpoint-tablet ){
    display: flex;
// justify-content: center;
align-items: center;
gap: 93px;
    }
}