.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms $time-distribution-function, visibility 250ms $time-distribution-function, background-color 250ms $time-distribution-function;
}

.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    background-color: $secondary-bcg-color;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
    }
}


.modal__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}




.modal__button {
    right: 0;
    position: absolute;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 9px 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $secondary-bcg-color;
    cursor: pointer;

}

.modal__button:hover>.cross {
    fill: $hover-color;
    outline: none;
}

.cross {
    transform: translate(-50%, -50%);
    position: absolute;
    fill: #000000;
    transition: fill 250ms $time-distribution-function;
}