.navigation {
    display: flex;
    margin-top: 0;
    align-items: center;
    flex-grow: 1;
    gap: 93px;

    @media screen and (max-width: 767px){
        display: block;
}
@extend %list;
}
.navigation__item {

    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
            margin-right: 50px;
        }
        @media screen and (max-width: 767px){
            display: block;
            justify-content: left;
            margin-bottom: 32px;
    }
       
}

@media screen and (max-width: 767px){
.navigation__item:last-child{
  margin-bottom: 302px;
}
}


.navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms $time-distribution-function;

  &:hover,
  &:focus {
            color: $hover-color;
        }        
        
        @media screen and (max-width: 767px){
            font-size: 40px;
            line-height: 1.175;
            margin-bottom: 32px;
            padding: 0;
    
        }
}
@media screen and (max-width: 767px){
 .navigation__link :last-child{
    margin-bottom: 306px;
 }
}