.navigation {
display: none;
// flex-wrap: nowrap;
gap: 50px;

@media screen and (max-width: 767px){
    // position: relative;
   
    margin-right: auto;
    max-width: 480px;
    min-height: 100%;
    // display: flex;
    // flex-direction: column;
    //  margin-bottom: auto;
}

@media screen and (min-width:$breakpoint-tablet){
    display: flex;
    //  margin-left: auto;
    flex-wrap: nowrap;
    display: flex;
justify-content: center;
align-items: center;
}
@extend %list;
}
.menu__navigation{
    @media screen and (max-width: 767px){
           position: relative;
   padding: 0;
list-style: none;

    max-width: 480px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
     margin-bottom: auto;
    }
}
.navigation__item {

    display: flex;
    align-items: center;
    justify-content: center;
        @media screen and (max-width: 767px){
            display: block;
            justify-content: left;
           
            // margin-bottom: 32px;
    }
       
}
.menu__navigation-item:not(:last-child){
margin-bottom: 40px;
}

// @media screen and (max-width: 767px){
// .navigation{
//   margin-bottom: 302px;
// }
// }


.navigation__link {
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms $time-distribution-function;

  &:hover,
  &:focus {
            color: $hover-color;
        }        
        
        @media screen and (max-width: 767px){
            font-size: 40px;
            line-height: 1.175;
            // margin-bottom: 32px;
            padding: 0;
    
        }
@media screen and (min-width:$breakpoint-tablet){
    padding-top: 32px;
    padding-bottom: 32px;
}
 
}
.navigation__link.current{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2196f3
}
@media screen and (max-width: 767px){
    .navigation__link.current{
        color: $hover-color;
    }
}
// @media screen and (max-width: 767px){
// //     .navigation__link.current-link{
// //         display: none;
// // }
// // }    

@media screen and (max-width: 767px){
 .navigation__link :last-child{
    margin-bottom: 306px;
 }
}

// .menu__container-wrap{

// }