.team {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color:$primary-bcg-color;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list__card {
    width: 270px;
    background-color:$secondary-bcg-color;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
            margin-right: 30px;
        }
    @extend %list
}
.team-list__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-list__info {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-list__title {
    margin-top: 0px;
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $secondary-text-color;
}
.team-list__text {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
        @extend %list
}
.team-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: $secondary-bcg-color;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

&:hover,
&:focus {
        background-color: $hover-color;
    }
}


.team-socials__icon {
    fill: $icons-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

    .team-socials__link:hover & {
            fill: $secondary-bcg-color;
        }
        .team-socials__link:focus & {
            fill: $secondary-bcg-color;
        }
}