html {
    box-sizing: border-box;
}
    

    *,
    * ::before,
    * ::after {
        box-sizing: inherit;
    }
body {
    color: $primary-text-color;
    background-color: $secondary-bcg-color;
    font-family: 'Roboto';
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (min-width: 480px) {
    .container{
        width: 480px;  
    }
}
@media (min-width: 768px ){
    .container{
        width: 768px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1200px;
    }
}