.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    color: $secondary-bcg-color;
    background-color: $hover-color;
    border: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

  &:hover,
  &:focus {
            background-color: #188CE8;
            border: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}



.filter__button {
    display: inline-block;
    color: $secondary-text-color;
    background-color: $primary-bcg-color;
    border: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    margin-top: 0;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $time-distribution-function;

    &:first-child {
            display: inline-block;
            padding: 6px 25px;
        }
    
    &:hover,
    &:focus {
            color: $secondary-bcg-color;
            background-color: $hover-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.menu-button{
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    z-index: 2;
@media screen and (min-width: $breakpoint-tablet){
    display: none;
}
}


.menu-button .icon-cross2{
    display: none;
}


.menu-button.is-open .icon-cross2{
    display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}
