.title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.action-text {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: $secondary-bcg-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}