
.current-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;

    height: 4px;
    background-color: $hover-color;
    border-radius: 2px;
}
.current-link {
    position: relative
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}