$primary-text-color: #757575;
$secondary-text-color: #212121;
$hover-color: #2196F3;
$primary-bcg-color: #F5F4FA;
$secondary-bcg-color: #FFFFFF;
$icons-color: #AFB1B8;
$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
$placeholder-color: rgba(117, 117, 117, 0.5);
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

